.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  box-sizing: border-box;
}

.postContainer {
  width: 83vw;
  height: 100%;
  margin: 0 auto;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5em 1em 5em;
  box-sizing: border-box;
}

.title > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.title > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 2.5em;
}

.contents {
  display: flex;
  height: 100%;
  margin: 0 1em;
  gap: 1em;
}

.postContents {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.info {
  width: 20em;
  padding: 1em 2em;
  box-sizing: border-box;
  border: 1px solid #a2a5dc;
  border-radius: 10px;
}

.contents > .toastui-editor-defaultUI {
  box-sizing: border-box;
}

.hideSelectBox {
  display: none;
}

.categoryBox {
  width: 100%;
  height: 4vh;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
}

.categoryBox:focus {
  border: 1px solid #a2a5dc;
  outline: none;
}

.categoryBox option {
  width: 100%;
}

.editor {
  width: 100%;
}

/* 임시저장 */
.temp__container {
  width: 100%;
  height: 35em;
  padding: 2em 0;
  box-sizing: border-box;
}

.temp__contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.temp__contents > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.temp__contents > div:nth-child(1) > svg {
  font-size: medium;
  color: lightgray;
}

.temp__contents > div:nth-child(2) {
  height: 0.1em;
  margin: 1em 0;
  background-color: black;
}

.temp__list {
  height: calc(35em - 4em - 2em);
  overflow: scroll;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.temp__list > div {
}

.temp_button {
  display: flex;
  justify-content: center;
  gap: 1em;
}
