.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  box-sizing: border-box;
}

.title {
  display: flex;
  width: 100%;
  padding: 0 5em 1em 5em;
  box-sizing: border-box;
}

.title > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.7em;
}

.title > div:nth-child(2) {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.title > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contents {
  display: flex;
  height: 100%;
  margin: 0 1em;
  gap: 1em;
}

.info {
  width: 20em;
  padding: 1em 2em;
  box-sizing: border-box;
  border: 1px solid #a2a5dc;
  border-radius: 10px;
}

.contents > .toastui-editor-defaultUI {
  box-sizing: border-box;
}

.hideSelectBox {
  display: none;
}

.categoryBox {
  width: 100%;
  height: 4vh;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
}

.categoryBox:focus {
  border: 1px solid #a2a5dc;
  outline: none;
}

.categoryBox option {
  width: 100%;
}

.editor {
  width: 100%;
}

/* 임시저장 */
.temp__container {
  width: 100%;
  height: 35em;
  padding: 3em 0;
  box-sizing: border-box;
}

.temp__contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.temp__contents > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.temp__contents > div:nth-child(1) > svg {
  font-size: medium;
  color: lightgray;
}

.temp__contents > div:nth-child(2) {
  height: 0.1em;
  margin: 1em 0;
  background-color: black;
}

.temp__list {
  height: calc(35em - 4em - 2em);
  overflow: scroll;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.temp__list > div {
  display: flex;
  align-items: center;
  height: 2em;
}

.temp__list > div > div {
  display: flex;
  align-items: center;
  position: relative;
}

.temp__list > div > span:nth-child(1) {
  width: 8em;
}

.temp__list > div > div > span:nth-child(1) {
  color: #333;
}

.delete {
  visibility: hidden;
}

.tooltip {
  display: none;
  position: absolute;
}

.temp__list > div > div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.temp__list > div:hover .delete {
  visibility: visible;
  font-size: medium;
  color: darkgray;
  margin-left: 0.2em;
}

.temp__list > div > div:hover .tooltip {
  display: inline;
  top: 1.2em;
}

.temp_button {
  display: flex;
  justify-content: center;
  gap: 1em;
}
