/* PostRouterPage */
.postRouterPage {
  height: calc(100% - 10vh);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* PostCategoryList */
.categoryList {
  width: 100%;
  height: 75vh;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: #d6e5f3;
}

.textCategories {
  width: 100%;
  height: 5.5vh;
  line-height: 5vh;
  background-color: #f1f8ff;
  text-align: center;
  padding: 0.5em;
  box-sizing: border-box;
}

.myCategoryList {
  width: 100%;
  height: 67.5vh;
  background-color: #ffffff;
  padding: 0.5em;
  box-sizing: border-box;
}

.categoryName {
  cursor: pointer;
  color: #a4a4a4;
  margin: 0;
  padding: 6% 0 6% 0;
  box-sizing: border-box;
  border-bottom: 0.5px solid lightgray;
}

.categoryNameTextClicked,
.categoryNameTextNonClicked {
  padding-left: 5%;
  margin: 0;
}

.categoryNameTextClicked:hover,
.categoryNameTextNonClicked:hover,
.categoryNameTextClicked {
  color: black;
}

.categoryNameTextNonClicked {
  color: #a4a4a4;
}

/* PostList */
.postList {
  height: 75vh;
  background-color: #d6e5f3;
  padding: 0.5em;
  box-sizing: border-box;
}

.postSettings {
  margin-bottom: 1%;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
}

.postDataList {
  width: 99%;
  height: 100%;
  padding: 0 0.5%;
  overflow: scroll;
}

.postCards {
  cursor: pointer;
}

.moreListBtn {
  cursor: pointer;
  width: 62vw;
  height: 3vh;
  background-color: #ffffff;
  padding: 2%;
  margin-top: 1%;
  text-align: center;
}

.moreListBtn:hover {
  background: #f1f8ff;
}

.postListLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PostListCard */
.postListCard {
  position: relative;
  width: 62vw;
  height: 17vh;
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 0.5em;
}

.postTitle {
  position: absolute;
  top: 20%;
  transform: translate(0%, -20%);
}

.postDate {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-70%, -20%);
}

.postTag {
  position: absolute;
  top: 45%;
  transform: translate(0%, -45%);
  display: flex;
}

.postCategory {
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-70%, -45%);
}

.postText {
  position: absolute;
  top: 65%;
  transform: translate(0%, -65%);
}

.postCardImg {
  position: absolute;
  width: 15vw;
  height: 20vh;
  top: 52%;
  left: 97%;
  transform: translate(-97%, -52%);
  border-radius: 10px;
  z-index: 10;
}

/* PostListImgCard */
.postListImgCard {
  width: 20rem;
  height: 20rem;
  background-color: #ffffff;
}
