.mainBox {
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.githubLoginButton {
  background-color: black;
  color: white;
  width: 300px;
}