/* .calendar {
  bolrder: 1px solid red;
  .react-calendar{
    background-color: transparent;
  }
} */

.calendar>.react-calendar{
  background-color: transparent;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}