/* PostWrite */
.postWrite {
  position: relative;
  border: 2px solid green;
}

.postWriteButtons {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-35%, -30%);
  border: 2px solid red;
}

/* PostWriteTitle */
.postWriteTitle {
  position: absolute;
  left: -7%;
  border: 1px solid #a2a5dc;
  width: 17vw;
  height: 75vh;
  padding: 1%;
}

/* PostWriteContents */
.postWriteContents {
  position: absolute;
  right: -7%;
  border: 1px solid #a2a5dc;
  width: 73vw;
  height: 75vh;
  padding: 1%;
}
