.caption {
  font-size: 0.875rem;
}

.text {
  font-size: 1rem;
}

.groupTitle {
  font-size: 1.375rem;
}

.textTitle {
  font-size: 1.625rem;
}

.pageTitle {
  font-size: 2.125rem;
}

.title {
  font-size: 2.625rem;
}