/* 레이아웃 ---------------------------------- */

.layoutContainer {
  display:flex;
  width: 100%;
  height: 110px;
  /* padding: 5px; */
  margin: 20px;

  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;
  border: 1px solid #ECECEC;

}

/* 스크롤 숨기기 */
.layoutContainer::-webkit-scrollbar {
  display: none;
}


.box1 {
  width: 100px;
  height: 100%;
  background-color: #ECECEC;
  margin: 5px;
}

.box2 {
  width: 100px;
  height: 300px;
  background-color: blue;
}

.box3 {
  width: 100px;
  height: 200px;
  background-color: green;
}

.display_none {
  display: none;
}

.display_flex {
  background-color: lightgray;
  display: flex;
}

.hr{
  width: 100%;
  height: 0.05rem;
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  
}

/* -------------------------------------------- */
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inputTag {
  display: grid;
  grid-template-columns: 100px 250px;
  margin: 10px;
  width: 100%;
} 

.inputTagThree{
  display: grid;
  grid-template-columns: 100px 150px 30.3vw;
  margin: 10px;
  width: 100%;
}

.textPadding{
  padding: 30px 20px 30px 20px;
}
.textMargin {
  margin: 20px;
}

.profile_img {
  width: 250px;
  height: 250px; 
  background-color: #F5F5F5; 
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.profile_editBtn {
  box-sizing: border-box;

  position: absolute;
  width: 82.02px;
  height: 36.58px;
  left: 180px;
  top: 200px;
  
  background: #FFFFFF;
  border: 2px solid #E8E8E8;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* padding-left: 10px; */
  
  cursor: pointer;
}

.profile_editBtn_icon{
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.profile_editBtn_text{
  text-align: left;
}


/* -------------------------------------- */

.flexContainer{
  display: flex;
  flex-direction: column;
}

.githubBox{
  display: flex;
  align-items: center;
  
  /* width: 100%; */
  height: 157px;
  margin: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.07), 0px 0.630668px 6.47753px rgba(0, 0, 0, 0.0417275), 0px 0.290021px 1.92853px rgba(0, 0, 0, 0.0282725);
}

.githubProfileImg{
  width: 110px;
  height: 110px;
  margin-left: 50px;

  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.08), 0px -0.446726px 17.869px rgba(0, 0, 0, 0.0476886), 0px -0.133002px 5.32008px rgba(0, 0, 0, 0.0323114);
}

.githubProfileTexts{
  display: flex;
  flex-direction: column;
  width: 30%;

  margin-left: 30px;
}

.githubProfileText {
  padding-top: 5px;
  padding-bottom: 5px;
}

.githubProfileLogout{
  width: 50%;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

.gridContainer {
  margin: 20px;
  padding: 4px;
  background-color: #F6F4F9;
}

.gridCategoryItem{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0;
  height: 100%;
}

.gridAddButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin: 5px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
}

.gridAddButton:hover {
  background-color: white;
}

.gridAddButton_icon{
  text-align: center;
}

.nonCategory {
  margin: 20px;
  text-align: center;
}


/* ---------------------------------- */
.confirmButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

  padding: 20px;
}

/* ---------------------------------- */

