/* 레이아웃 ---------------------------------- */

.layoutContainer {
  display: flex;
  /* width: 100%; */
  height: 110px;
  /* padding: 5px; */
  margin-top: 20px;
  margin-bottom: 20px;

  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;
  border: 1px solid #ececec;
}

/* 스크롤 숨기기 */
.layoutContainer::-webkit-scrollbar {
  display: none;
}

.layoutSelectContainer {
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;

  width: 100%;
  margin-top: 20px;
}

.checkListContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid #ececec;
}

.checkListTitle {
  /* text-align: center; */
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background-color: #f6f4f9;
}

.checkListContents {
  padding: 30px 25px 10px 25px;
}

.checkListItem {
  margin-bottom: 20px;
}

.box1 {
  width: 100px;
  height: 100%;
  background-color: #ececec;
  margin: 5px;
}

.box2 {
  width: 100px;
  height: 300px;
  background-color: blue;
}

.box3 {
  width: 100px;
  height: 200px;
  background-color: green;
}

.display_none {
  display: none;
}

.display_logo {
  margin: 10px;
  background-color: #d3d3eb;
  border-radius: 5px;
}

.icon {
  display: flex;
  justify-content: center;
}

.innerText {
  text-align: center;
}

.hr {
  width: 100%;
  height: 0.05rem;
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

/* -------------------------------------------- */
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inputTag {
  display: grid;
  grid-template-columns: 100px 250px;
  margin: 10px;
  width: 100%;
}

.inputTagThree {
  display: grid;
  grid-template-columns: 100px 150px 30.3vw;
  margin: 10px;
  width: 100%;
}

.textPadding {
  padding: 30px 20px 30px 20px;
}
.textMargin {
  margin: 20px;
}

.profile_img_container {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: auto;
  position: relative;
}

.profile_img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.profile_editBtn {
  box-sizing: border-box;

  position: absolute;
  width: 75px;
  height: 36.58px;
  left: 150px;
  top: 180px;

  background: #ffffff;
  border: 2px solid #e8e8e8;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* padding-left: 10px; */

  cursor: pointer;
}

.profile_editBtn_icon {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.profile_editBtn_text {
  text-align: left;
}

/* -------------------------------------- */

.flexContainer {
  display: flex;
  flex-direction: column;
}

.githubBox {
  display: flex;
  align-items: center;

  /* width: 100%; */
  height: 157px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.07), 0px 0.630668px 6.47753px rgba(0, 0, 0, 0.0417275),
    0px 0.290021px 1.92853px rgba(0, 0, 0, 0.0282725);
}

.githubProfileImg {
  width: 110px;
  height: 110px;
  margin-left: 50px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.08), 0px -0.446726px 17.869px rgba(0, 0, 0, 0.0476886),
    0px -0.133002px 5.32008px rgba(0, 0, 0, 0.0323114);
}

.githubProfileTexts {
  display: flex;
  flex-direction: column;
  width: 30%;

  margin-left: 30px;
}

.githubProfileText {
  padding-top: 5px;
  padding-bottom: 5px;
}

.githubProfileLogout {
  width: 50%;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

.gridContainer {
  margin: 20px;
  padding: 4px;
  background-color: #f6f4f9;
}

.gridCategoryItem {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0;
  height: 100%;
}

.gridAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin: 5px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.gridAddButton:hover {
  background-color: white;
}

.gridAddButton_icon {
  text-align: center;
}

.nonCategory {
  margin: 20px;
  text-align: center;
}

/* ---------------------------------- */
.confirmButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

  padding: 20px;
}

/* 세부 설정 ---------------------------------- */
.detailContents {
  display: flex;
  flex-direction: column;
}

.detailItem {
  margin: 10px;
}
